<% provide(:title, 'Log in') %>
<h1 class="page-headline">Login</h1>

<div class="row">
  <div class="small-2 large-4 columns"><h1></h1></div>

  <div class="small-8 large-4 columns">

  <%= form_for(:session, url: login_path) do |f| %>

  <%= f.label :rollno %>
  <%= f.text_field :rollno %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.label :remember_me, class: "checkbox" do %>
  <%= f.check_box :remember_me %>
  <span>Remember me on this computer</span>
  <% end %>

  <%= f.submit "Log-in", class: "button" %>
  <% end %>

  </div>

  <div class="small-2 large-4 columns"><h1></h1></div>
</div>
