<% provide(:title, 'Log in') %>

<div id="spacer" class="massive ui menu">
  &nbsp;
</div>

<div class="ui grid container stackable">
  <div class="centered row">
    <h1>Login</h1>
  </div>
  <div class="row">
    <div class="six wide centered middle aligned column">

      <%= form_for(:session, url: login_path, html: {class: "ui form login"}) do |f| %>
      <div class="ui error message"></div>
      <div class="required field">
        <%= f.label "Roll Number/ Employement Number" %>
        <%= f.text_field :rollno, placeholder: "Provided by Institute" %>
      </div>
      <div class="required field">
        <%= f.label :password %>
        <%= f.password_field :password %>
      </div>
      <div class="inline field">
        <%= f.label :remember_me do %>
        <%= f.check_box :remember_me, class: "ui checkbox hidden", tabindex: "0" %>
        <span>Remember me on this computer</span>
      </div>
      <% end %>
      <%= f.submit "Log-in", class: "ui green button" %>
      <% end %>
    </div>
  </div>
</div>
