<div class="row">
  <div class="two wide column">
    <% if !article.articleimage.file.nil? %>
    <div class="ui small image">
      <img src="<%= article.articleimage.url %>"/>
    </div>
    <% end %>
  </div>

    <div class="four wide column">
      <h3 style="font-weight: lighter;"><%= article.title %></h3>
      <h4 style="font-weight: lighter;"><%= truncate(article.content, length: 200, omission: '... (continued)') %></h4>
    </div>
    <div class="three wide column">
      <h5 style="font-weight: lighter;"> Category: <%= article.post_type %></h5>
      <h5 style="font-weight: lighter;">Uploaded <%= time_ago_in_words(article.created_at) %> ago.</h5>
    </div>
  <div class="four wide column">
    <div class="ui buttons">
      <%= link_to "Show", article, class: "ui blue button" %>
      <% if current_user?(article.user) %>
      <%= link_to "Edit", edit_article_path(article), class: "ui red button" %>
      <%= link_to "Delete",article_path(article), method: :delete, class: "ui violet button" %>
      <% end %>
    </div>
  </div>
  <div class="three wide column">
    <%= form_for(article) do |f| %>
    <div class="ui disabled toggle checkbox">
      <%= f.check_box :approved, class: "ui checkbox", disabled: "disabled" %>
      <label>Verified?</label>
    </div>
    <% end %>
  </div>
</div>
