<% provide(:title, 'Edit Profile') %>

<div id="spacer" class="massive ui menu">
  &nbsp;
</div>

<div class="ui grid container">
  <div class="six wide centered column">
    <h1 style="text-align: center;">Update your Profile</h1>
    <%= form_for(@user, html: {class: "ui form"}) do |f| %>

    <%= render 'shared/error_messages' %>
    <div class="field" style="text-align: center">
      <%= gravatar_for @user %>
    </div>
    <div class="field" style="text-align: center">
      <a href="http://gravatar.com/emails" target="_blank"
      class="ui teal button">Change Profile Picture</a>
    </div>

    <div class="field">
      <%= f.label :name, "Name" %>
      <%= f.text_field :name, placeholder: "Full Name as stated in records" %>
    </div>

    <div class="field">
      <%= f.label :email, "Email" %>
      <%= f.text_field :email, type: "email" %>
    </div>

    <div class="field">
      <%= f.label :rollno, "Roll No/Emp. No"%>
      <%= f.text_field :rollno, type: "number", placeholder: "Roll No/Emp. No" %>
    </div>

    <div class="field">
      <%= f.label :user_type %>
      <%= f.select(:user_type, ["Student", "Faculty"], {}, {}) %>
    </div>

    <div class="field">
      <%= f.label :branch %>
      <%= f.select(:branch, ["Civil", "Mechanical", "Electrical", "Computer Science", "Electronics"], {}, {}) %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password, type: "password"%>
    </div>

    <div class="field">
      <%= f.label :password_confirmation%>
      <%= f.password_field :password_confirmation, type: "password" %>
    </div>

    <div class="field" style="text-align: center;">
      <%= f.submit "Update Profile", class: "ui blue button" %>
    </div>
    <% end %>

  </div>
</div>
