<% provide(:title, 'Sign-up') %>

<div id="spacer" class="massive ui menu">
  &nbsp;
</div>

<div class="ui grid container">
  <div class="six wide centered column">
    <h1 style="text-align: center;">Add A User</h1>
    <%= form_for(@user, html: {class: "ui form"}) do |f| %>

    <%= render 'shared/error_messages' %>
    <div class="field">
      <%= f.label :name, "Name" %>
      <%= f.text_field :name, placeholder: "Full Name as stated in records" %>
    </div>

    <div class="field">
      <%= f.label :email, "Email" %>
      <%= f.text_field :email, type: "email", placeholder: "If not available then ask the student/staff to provide one" %>
    </div>

    <div class="field">
      <%= f.label :rollno, "Roll No/Emp. No"%>
      <%= f.text_field :rollno, type: "number", placeholder: "Provided by Institute" %>
    </div>

    <div class="field">
      <%= f.label :phone_number, "Phone Number"%>
      <%= f.text_field :phone_number, placeholder: "User's available mobile number" %>
    </div>

    <div class="field">
      <%= f.label :user_type %>
      <%= f.select(:user_type, ["Student", "Faculty", "Staff", "Director"], {}, {}) %>
    </div>

    <div class="field">
      <%= f.label :branch %>
      <%= f.select(:branch, ["Civil", "Mechanical", "Electrical", "Computer Science", "Electronics"], {}, {}) %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password, type: "password"%>
    </div>

    <div class="field">
      <%= f.label :password_confirmation%>
      <%= f.password_field :password_confirmation, type: "password" %>
    </div>

    <div class="field" style="text-align: center;">
      <%= f.submit "Add User to Database!", class: "ui blue button" %>
    </div>
    <% end %>

  </div>
</div>
