<% provide(:title, @user.name) %>

<div id="spacer" class="massive ui menu">
  &nbsp;
</div>

<div class="hero-user" style="margin-top: 50px;">
  <div class="ui two column grid padded container stackable">
    <div class="column">
      <div class="ui grid">
        <div class="five wide column" >
          <%= gravatar_for @user %>
        </div>
        <div class="eleven wide column user-details">
          <h2><%= @user.name %></h2>
          <h3><%= @user.branch %> <%= @user.user_type %></h3>
          <h4><%= @user.rollno %></h4>
        </div>
      </div>
    </div>
    <div class="middle aligned column">
      <div class="ui buttons">
        <% if current_user.admin? || current_user?(@user) %>
        <a href="<%= edit_user_path %>" class="ui orange button">Edit Profile</a>
        <% end %>
        <% if current_user?(@user) %>
        <button class="ui green button">Submit Assignment</button>
        <button class="ui violet button">Submit Article</button>
        <%= link_to "Logout", logout_path, method: 'delete', class: "ui grey button" %>
        <% end %>
      </div>
      <% if current_user.admin? %>
      <%= link_to "Users Management",users_path, class:"ui black button" %>
      <% end %>
    </div>
  </div>
</div>

<div class="tabs-user">
  <div class="ui top attached tabular menu stackable">
    <a class="item active" data-tab="first">Assignments (<%= @user.assignments.count %>)</a>
    <a class="item" data-tab="second">Articles (<%= @user.articles.count %>)</a>
    <a class="item" data-tab="third">Submit Assignment</a>
    <a class="item" data-tab="forth">Submit Article</a>
  </div>

  <!-- Show User's Assignments Page -->
  <div class="ui bottom attached tab segment active" data-tab="first">
    <% if @user.assignments.any? %>
    <div class="ui three column middle aligned centered grid stackable">
      <%= render @assignments %>
    </div>
    <%= will_paginate @assignments, renderer: WillPaginateSemanticUi::ActionView::Renderer %>
    <% end %>
  </div>

  <!-- Show User's Articles Page -->
  <div class="ui bottom attached tab segment" data-tab="second">
    <% if @user.articles.any? %>
    <div class="ui three column middle aligned centered grid stackable">
      <%= render @articles %>
    </div>
    <%= will_paginate @articles, renderer: WillPaginateSemanticUi::ActionView::Renderer %>
    <% end %>
  </div>

  <!-- Submit Assignment Form -->

  <div class="ui bottom attached tab segment" data-tab="third">
    <%= form_for(@assignment, html: {class: "ui form assignment", multipart: true}) do |f| %>
    <div class="ui error message"></div>
    <div class="three fields">
      <div class="required field">
        <%= f.label "Title" %>
        <%= f.text_field :title, placeholder: "Title of Assignment" %>
      </div>

      <div class="required field">
        <%= f.label :subject %>
        <%= f.text_field :subject, placeholder: "Subject of Assignment" %>
      </div>
      <div class="required field">
        <%= f.label :semester %>
        <%= f.text_field :semester, type: "number",
        placeholder: "Enter your current semester" %>
      </div>
    </div>
    <%= f.submit "Upload", class: "ui teal button" %>
    <%= f.file_field :pdf %>

    <% end %>
  </div>

  <!-- Submit Article Tab -->

  <div class="ui bottom attached tab segment" data-tab="forth">
    <%= form_for(@article, html: {class: "ui form article", multipart: true}) do |f| %>
    <div class="row wrap">
      <div class="ui error message"></div>
      <div class="two fields">
        <div class="required field">
          <%= f.label :title %>
          <%= f.text_field :title, placeholder: "Enter title of Assignment" %>
        </div>
        <div class="required field">
          <%= f.label :post_type %>
          <%= f.select(:post_type, ["News", "Blog", "Research", "Statements"], {}, {}) %>
        </div>
      </div>

      <div class="required field">
        <%= f.label :content %>
        <%= f.text_area :content, placeholder: "Enter content of Assignment" %>
      </div>


      <%= f.submit "Create!", class: "ui green button" %>
      <%= f.file_field :articleimage %>
    </div>

    <% end %>
  </div>
</div>
