<% provide(:title, @user.name) %>

<%= render 'shared/error_messages' %>

<div class="row collapse large-12 columns">
  <div class="large-3 columns">
    <ul class="tabs vertical" id="example-vert-tabs" data-tabs>
      <li class="tabs-title is-active"><a href="#panel1v" aria-selected="true">Home</a></li>
      <li class="tabs-title"><a href="#panel2v">Submit an Assignment</a></li>
      <li class="tabs-title"><a href="#panel3v">Attendance Records</a></li>
    </ul>
    </div>
    <div class="large-9 columns">
    <div class="tabs-content vertical" data-tabs-content="example-vert-tabs">
      <div class="tabs-panel is-active" id="panel1v">
        <div class="row">
          <h1 style="text-align: center;">
            <%= gravatar_for @user %>
            <%= @user.name %>
          </h1>
          <h2>
            <%= @user.branch %>
            <%= @user.user_type %>
          </h2>
          <div class="large-9 columns">
            <% if @user.assignments.any? %>
              <h3>Assignments (<%= @user.assignments.count %>)</h3>
              <ol>
                <%= render @assignments %>
              </ol>
              <%= will_paginate @assignments, renderer: FoundationPagination::Rails %>
            <% end %>
          </div>
        </div>
      </div>


      <div class="tabs-panel large-6 large-centered columns" id="panel2v">
        <%= form_for(@assignment, html: {multipart: true}) do |f| %>
          <div class="row wrap">

            <%= f.label :title %>
            <%= f.text_field :title %>

            <%= f.label :subject %>
            <%= f.text_field :subject %>

            <%= f.label :semester %>
            <%= f.text_field :semester, type: "number" %>

          <%= f.submit "Upload", class: "button" %>
          <%= f.file_field :pdf %>
          </div>
        <% end %>
      </div>


      <div class="tabs-panel" id="panel3v">
        <img class="thumbnail" src="assets/01.jpg">
      </div>
    </div>
  </div>
</div>
