<% provide(:title, @user.name) %>

<div id="spacer" class="massive ui menu">
  &nbsp;
</div>

<div class="hero-user" style="margin-top: 50px;">
  <div class="ui two column grid container stackable">
    <div class="column">
      <div class="ui grid">
        <div class="six wide column" >
          <%= gravatar_for @user %>
        </div>
        <div class="ten wide column user-details" data-intro="These are your personal records"
        data-step="1">
          <h2><%= @user.name %></h2>
          <h3><%= @user.branch %> <%= @user.user_type %></h3>
          <h4><%= @user.rollno %></h4>
          <% if @user.admin? || admin?(@user) %>
          <h4>+91(<%= @user.phone_number %>)</h4>
          <% end %>
        </div>
      </div>
    </div>
    <div class="middle aligned column stackable">
      <div class="ui buttons">
        <% if !current_user.nil? %>
        <% if current_user.admin? || current_user?(@user) || admin?(current_user) %>
        <a href="<%= edit_user_path %>" class="ui orange button">Edit Profile</a>
        <% end %>
        <% if current_user?(@user) %>
        <button id="submit-assignment-button" class="ui green button">Submit Assignment</button>
        <button id="submit-article-button" class="ui violet button">Submit Article</button>
        <%= link_to "Logout", logout_path, method: 'delete', class: "ui grey button" %>
        <% end %>
      </div>
      <% if current_user.admin? || admin?(current_user) %>
      <%= link_to "Users Management",users_path, class:"ui black button" %>
      <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="tabs-user">
  <div class="ui top attached tabular menu stackable">
    <a class="item active teal" data-tab="articles" data-intro="Here is the list of your submitted articles"
    data-step="3">Articles
      <span class="ui left pointing teal label"><%= @user.articles.count %></span>
    </a>
    <% if !current_user.nil? %>
    <a class="teal item" data-tab="assignments" data-intro="Here is the list of your submitted assignments"
    data-step="4">Assignments
      <span class="ui teal left pointing label"><%= @user.assignments.count %></span>
    </a>
    <a class="teal item" data-tab="submit_assignment" data-intro="You can submit assignments from here"
    data-step="5">Submit Assignment</a>
    <a class="teal item" data-tab="submit_article" data-intro="You can submit articles from here"
    data-step="6">Submit Article</a>
    <% end %>
  </div>

  <!-- Show User's Articles Page -->
  <div class="ui bottom attached tab segment active" data-tab="articles">
    <% if @user.articles.any? %>
    <div class="ui three column middle aligned centered grid stackable">
      <%= render @articles %>
    </div>
    <%= will_paginate @articles, renderer: WillPaginateSemanticUi::ActionView::Renderer %>
    <% end %>
  </div>

  <% if !current_user.nil? %>
    <!-- Show User's Assignments Page -->
    <div class="ui bottom attached tab segment" data-tab="assignments">
      <% if @user.assignments.any? %>
      <div class="ui three column middle aligned centered grid stackable">
        <%= render @assignments %>
      </div>
      <%= will_paginate @assignments, renderer: WillPaginateSemanticUi::ActionView::Renderer %>
      <% end %>
    </div>
  <% end %>

<% if !current_user.nil? %>
  <!-- Submit Assignment Form -->

  <div class="ui bottom attached tab segment" data-tab="submit_assignment">
    <%= form_for(@assignment, html: {class: "ui form assignment", multipart: true}) do |f| %>
    <div class="ui error message"></div>
    <div class="three fields">
      <div class="required field">
        <%= f.label "Title" %>
        <%= f.text_field :title, placeholder: "Title of Assignment" %>
      </div>

      <div class="required field">
        <%= f.label :subject %>
        <%= f.text_field :subject, placeholder: "Subject of Assignment" %>
      </div>
      <div class="required field">
        <%= f.label :semester %>
        <%= f.text_field :semester, type: "number",
        placeholder: "Enter your current semester" %>
      </div>
    </div>
    <%= f.submit "Upload", class: "ui teal button" %>
    <%= f.file_field :pdf %>

    <% end %>
  </div>

  <!-- Submit Article Tab -->

  <div class="ui bottom attached tab segment" data-tab="submit_article">
    <%= form_for(@article, html: {class: "ui form article", multipart: true}) do |f| %>
    <div class="row wrap">
      <div class="ui error message"></div>
      <div class="two fields">
        <div class="required field">
          <%= f.label :title %>
          <%= f.text_field :title, placeholder: "Enter title of Article" %>
        </div>
        <div class="required field">
          <%= f.label :post_type %>
          <%= f.select(:post_type, ["News", "Blog", "Research", "Statements"], {}, {}) %>
        </div>
      </div>

      <div class="required field">
        <%= f.label :content %>
        <%= f.text_area :content, placeholder: "Enter content of Article" %>
      </div>

      <% if current_user.admin? || admin?(current_user) %>
      <div class="required field">
        <%= f.label "Approved?" %>
        <%= f.check_box :approved%>
      </div>
      <% end %>

      <%= f.submit "Create!", class: "ui green button" %>
      <%= f.file_field :articleimage %>
    </div>

    <% end %>
  </div>
  <% end %>
</div>
