<div class="overlay">
  <div class="ui secondary menu large fixed">
    <a class="item menu-button">
      <i class="sidebar icon"></i>
    </a>
    <div id="menu-search" class="ui icon input" >
      <input type="text" placeholder="Search...">
      <i class="search icon"></i>
    </div>
    <div class="right menu">
      <a class="item" href="<%= student_path %>" id="my-content">For Students</a>
      <a class="item" href="<%= faculty_path %>"id="my-content">For Faculty</a>
      <% if logged_in? %>
      <%= link_to current_user, class: 'item' do %>
        <% if !current_user.email.nil? %>
        <img class="ui avatar image" src="<%= gravatar_url current_user %>">
        <span><%= current_user.name %></span>
        <% elsif !@user.email.nil? %>
        <img class="ui avatar image" src="<%= gravatar_url @user %>">
        <span><%= @user.name %></span>
        <% end %>
      <% end %>
      <% else %>
      <div class="item">
        <a href="<%= signup_path %>" class="ui labeled icon green button">
          <i class="sign in icon"></i>
          Login
        </a>
      </div>
      <% end %>
      <a class="item" href="javascript:void(0);" onclick="javascript:introJs().start();javascript:introJs().addHints();">
        <i class="help large circle icon"></i>Help
      </a>
    </div>
  </div>
</div>
