<!--MOBILE NAVIGATION -->

<nav class="nav-mobile show-for-small-only">
  <div class="off-canvas position-left" id="mobile-menu" data-off-canvas>
    <ul class="menu vertical" data-accordion-menu>

      <li><a href="#">About</a></li>
      <li>
        <a href="#">Academics</a>
        <ul class="menu vertical">
          <li><a href="#">Study at ITG</a></li>
          <li>
            <a href="#">About ITG</a>
          </li>

          <li><a href="#">Research at ITG</a></li>
        </ul>
      </div>

      <div class="off-canvas-content" data-off-canvas-content>
        <div class="title-bar show-for-small-only">
          <div class="title-bar-left">
            <button class="menu-icon" type="button" data-open="mobile-menu"></button>
            <span id="mobile-title" class="menu-mobile">Menu</span>
          </div>
          <div class="tertiary-nav">
            <div class="top-bar-right">
              <ul class="inline-list menu menu-mobile">
                <li class="search-field">
                  <form>
                    <div class="row collapse">
                      <div class="small-12 columns">
                        <input type="search" placeholder="Search">
                      </div>
                    </div>
                  </form>
                </li>
                <li>
                  <button type="button" class="button search-icon">
                    <i class="fa fa-search"></i>
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
</nav>

    <!--DESKTOP NAVIGATION-->
<nav class="top-bar nav-desktop hide-for-small">
  <div class="top-bar-left align-spaced">
    <ul class="menu menu-desktop" >
      <% unless current_page?(root_path) %>
        <li><a id="bordered" href="<%= root_url %>">Home</a></li>
      <% end %>
      <li class="mega-button"><a id="bordered">Study at ITG</a></li>
      <li>
        <a href="<%= about_path %>">About ITG</a>
      </li>
      <li><a id="bordered">Research at ITG</a></li>
    </ul>
  </div>
  <div class="top-bar-right">
    <% if current_page?(root_path) %>
    <ul class="menu menu-desktop">
      <li>
        <input type="search" placeholder="Search">
      </li>
      <li>
      <button type="button" class="button">
        <i class="fa fa-search"></i>
      </button>
    </li>
  </ul>
  <% else %>
    <% if logged_in? %>
      <ul class="dropdown menu menu-desktop" data-dropdown-menu>
        <li>
          <a>Account</a>
          <ul class="menu">
            <li><%= link_to "Profile", current_user %></li>
            <% if current_user.admin? %>
              <li><%= link_to "All Users", users_path %></li>
              <li><%= link_to "Add a User", signup_path %></li>
            <% end %>
            <li><%= link_to "User Settings", edit_user_path(current_user) %></li>
            <li class="divider" style="color: white;"></li>
            <li><%= link_to "Log-out", logout_path, method: 'delete' %></li>
          </ul>
        </li>
      </ul>
      <% else %>
      <div class="success button login">
        <i class="fa fa-sign-in"></i>
        <a href="<%= login_path %>">Login</a>
      </div>
      <% end %>
    <% end %>
  </div>
</nav>

    <!-- Mega-Menu -->
<section class="row mega-menu hide-for-small" style="display: none;">
  <div class="large-4 columns"> &gt; &nbsp;&nbsp;Postgraduate
    <ul>
      <li>
        <a href="#"><i class="fa fa-edit"></i> &nbsp;&nbsp;Courses</a>
      </li>
      <li>
        <a href="#">&gt; &nbsp;&nbsp;Why ITG</a>
      </li>
      <li>
        <a href="#"><i class="fa fa-hand-pointer-o"></i> &nbsp;&nbsp;How to Apply</a>
      </li>
      <li>
        <a href="#"><i class="fa fa-rupee"></i> &nbsp;&nbsp;Fees and funding</a>
      </li>
      <li>
        <a href="#"><i class="fa fa-comments"></i> &nbsp;&nbsp;Frequently Asked Questions</a>
      </li>
      <li><br>
      </li>
    </ul>
  </div>

  <div class="large-4 columns">&gt; Departments
    <ul>
      <li>
        <a href="#"><i class="fa fa-map"></i> &nbsp;&nbsp;Civil Engineering</a>
      </li>
      <li>
        <a href="#"><i class="fa fa-flash"></i> &nbsp;&nbsp;&nbsp;Electrical Engineering</a>
      </li>
      <li>
        <a href="#"><i class="fa fa-gear"></i> &nbsp;&nbsp;&nbsp;Mechanical Engineering</a>
      </li>
      <li>
        <a href="#"><i class="fa fa-code"></i> &nbsp;&nbsp;&nbsp;Computer Science and Engineering</a>
      </li>
      <li>
        <a href="#"><i class="fa fa-sliders"></i> &nbsp;&nbsp;&nbsp;Electronics Engineering</a>
      </li>
      <li>
        <a href="#"><i class="fa fa-euro"></i> &nbsp;&nbsp;&nbsp;Science and Humanities</a>
      </li>
    </ul>
  </div>
  <div class="large-4 columns">&gt; Extras
    <ul>
      <li>
        <a href="<%= student_section_path %>"><i class="fa fa-graduation-cap"></i> &nbsp;&nbsp;Student Section</a>
      </li>
      <li>
        <a href="<%= staff_section_path %>"><i class="fa fa-university"></i> &nbsp;&nbsp;Staff Section</a>
      </li>
      <li>
        <a href="#"><i class="fa fa-bullseye"></i> &nbsp;&nbsp;Our Vision</a>
      </li>
      <li>
        <a href="#"><i class="fa fa-external-link"></i> &nbsp;&nbsp;About UTU</a>
      </li>
      <li>
        <a href="<%= login_path %>"><i class="fa fa-sign-in"></i> &nbsp;&nbsp;User Login</a>
      </li>
      <li>
        <a href="#"><i class="fa fa-envelope"></i> &nbsp;&nbsp;Director's and VC's Message</a>
      </li>
    </ul>
  </div>
</section>
