<div class="overlay">
  <div class="ui secondary menu large fixed stackable">
    <a class="item menu-button">
      <i class="sidebar icon"></i>
    </a>
    <div id="menu-search" class="ui icon input">
      <input type="text" placeholder="Search...">
      <i class="search icon"></i>
    </div>
    <div class="right menu">
      <a class="item" href="<%= student_path %>">For Students</a>
      <a class="item" href="<%= faculty_path %>">For Faculty</a>
      <% if logged_in? %>
      <%= link_to current_user, class: 'item' do %>
        <img class="ui avatar image" src="<%= gravatar_url @user %>">
        <span>Username</span>
      <% end %>
      <% else %>
      <div class="item">
        <a href="<%= signup_path %>" class="ui labeled icon green button">
          <i class="sign in icon"></i>
          Login
        </a>
      </div>
      <% end %>
    </div>
  </div>
</div>
