<% provide(:title, "Student-Section") %>
<div class="my-slider" style="height: 80vh;">
  <ul>
    <li><img id="slider-image" src="/assets/04.jpg"/></li>
    <li><img id="slider-image" src="/assets/05.jpg"/></li>
    <li><img id="slider-image" src="/assets/06.jpg"/></li>
  </ul>
</div>

<div class="ui relaxed two column grid stackable">
  <div class="twelve wide column">
    <div class="ui top attached tabular menu">
      <a class="active teal item" data-tab="first">What's Happening</a>
      <a class="teal item" data-tab="second">Programmes</a>
      <a class="teal item" data-tab="third">Admissions</a>
      <a class="teal item" data-tab="forth">Fee Structure</a>
      <a class="teal item" data-tab="fifth">Facilities</a>
    </div>

    <div class="ui bottom attached active tab segment" data-tab="first">
      <% if @user_feed_items.any? %>
      <div class="ui cards">
        <% @user_feed_items.each do |user_feed_item| %>
        <% if user_feed_item.user.user_type == "Student" %>
        <div class="card">
          <% if !user_feed_item.articleimage.file.nil? %>
          <div class="image">
            <img src="<%= user_feed_item.articleimage.url %>">
          </div>
          <% end %>
          <div class="content">
            <a class="header" href="<%= article_path(user_feed_item) %>"><%=user_feed_item.title%></a>
            <div class="meta">A <%=user_feed_item.post_type %> by <%= user_feed_item.user.name %></div>
            <div class="description">
              <%= truncate(user_feed_item.content, length: 100) %>
            </div>
          </div>
        </div>
        <% end %>
        <% end %>
      </div>
      <% end %>
    </div>
    <div class="ui bottom attached tab segment" data-tab="second">

      <div class="ui raised link card " id="uibackground">
        <div class="content">
          <div class="ui grid">
            <div class="six wide column"><img id="department-image" src="/assets/branch_civil.jpg"></div>
            <div class="ten wide column">
              <div class="header" id="department-header"><b>Civil Engineering</b></div>
              <div class="description">
                <div class="department-desc">
                  <p>
                    Considered as one of the core engineering disciplines.
                    Civil engineering branch deals with designing surveying constructing and maintaining structural works.
                    The engineers of this stream learn methods to identity, consume sustainably and natural resources.
                    It also includes the construction and supervision of things that public use in daily lives like buildings,
                    roads, water pipelines, bridges, dams etc. and provides a better opportunity in career perspectives.
                  </p>
                </div>
              </div>
              <div class="right floated item">
                <a class="ui teal button" href="<%= departments_civil_path %>"
                  style="margin-top: 50px;">Explore Civil Department</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="ui raised link card " id="uibackground">
        <div class="content">
          <div class="ui grid">
            <div class="six wide column"><img id="department-image" src="/assets/branch_cse.jpg"></div>
            <div class="ten wide column">
              <div class="header"><b id="department-header">Computer Science and Engineering</b></div>
              <div class="description">
                <div class="department-desc">
                  <p>
                    Computer Science has the power to change the world. This course offer a flexible and facinating programmes for the
                    students who wish to acquire high skills in computers and applications, all supported by world class staff and facilities.
                    The curriculum provides the students with a technical perspective on major issues of computer application,
                    programming, languages and web enabled services.
                  </p>
                </div>
              </div>
              <div class="right floated item">
                <a class="ui violet button" href="<%= departments_cse_path %>"
                  style="margin-top: 50px;">Explore Computer Science Department</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="ui raised link card " id="uibackground">
        <div class="content"><div class="ui grid">
          <div class="six wide column"><img id="department-image" src="/assets/branch_ee.jpg"></div>
          <div class="ten wide column">
            <div class="header"><b id="department-header">Electrical Engineering</b></div>
            <div class="description">
              <div class="department-desc">
                <p>
                  Its vision is to be a catalyst in imparting quality education and conducting valued research for the benefit of society.
                  Some of our important areas of teaching are basic electrical, electrical machine, power electronics,
                  measurement and instrumentation ,circuits and systems, electric drives and power system .
                  The vision of the department is to establish itself as a center of excellence in terms of research
                  and teaching in its chosen areas.
                </p>
              </div>
            </div>
            <div class="right floated item">
              <a class="ui green button" href="<%= departments_ee_path %>"
                style="margin-top: 50px;">Explore Electrical Department</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ui raised link card " id="uibackground">
      <div class="content">
        <div class="ui grid">
          <div class="six wide column"><img id="department-image" src="/assets/branch_ece.jpg" ></div>
          <div class="ten wide column">
            <div class="header"><b id="department-header">Electronics and Communication Engineering</b></div>
            <div class="description">
              <div class="department-desc">
                <p>
                  In modern society, scope of electronics engineering is very vast that applied in every field.
                  Development of world that includes every area such as telecommunications, satellite,
                  microelectronics etc are the outcome of talented engineers. ECE is all about working with
                  electronic science and communication equipments such as mobiles, fridge, transmitters,
                  fulfilling the daily requirements of the people.
                </p>
              </div>
            </div>
            <div class="right floated item">
              <a class="ui red button" href="<%= departments_ece_path %>"
                style="margin-top: 50px;">Explore Electrical Department</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="ui raised link card" id="uibackground">
      <div class="content">
        <div class="ui grid">
          <div class="six wide column"><img id="department-image" src="/assets/branch_mech.jpg"></div>
          <div class="ten wide column">
            <div class="header"><b id="department-header">Mechanical Engineering</b></div>
            <div class="description">
              <div class="department-desc">
                <p>
                  Mechanical Engineering is considered to be the core branch in engineering.
                  You can work related to mechanical system design, analysis,
                  manufacturing maintenance using fundamental Physics principle and offers analytical
                  solution to problem using Mathematical model. The design of this course aims to provide
                  the basics and analytical skills which gives students valuable hands on industrial experiences.
                </p>
              </div>
            </div>
            <div class="right floated item">
              <a class="ui blue button" href="<%= departments_mech_path %>"
                style="margin-top: 50px;">Explore Mechanical Department</a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="ui bottom attached tab segment" data-tab="third">
    Third
  </div>
  <div class="ui bottom attached tab segment" data-tab="forth">
    Forth
  </div>
  <div class="ui bottom attached tab segment" data-tab="fifth">
    Fifth
  </div>
</div>

<div class="four wide column">
  <!-- News Feed -->
  <div class="row" style="margin-bottom: 10%;">
    <div class="ui feed">
      <h2>News</h2>
      <% if @news_items.any? %>
      <% @news_items.each do |news_item| %>
      <div class="event">
        <div class="label">
          <i class="info icon circular"></i>
        </div>
        <div class="content">
          <div class="summary">
            <%= link_to news_item.title, news_item %>
          </div>
          <div class="date">
            <%= time_ago_in_words(news_item.created_at) + " ago" %>
          </div>
        </div>
      </div>
      <% end %>
      <% end %>
    </div>
  </div>
  <!-- Annoucements Feed -->
  <div class="row">
    <div class="ui feed" style="margin-bottom: 10%;">
      <h2>Announcements</h2>
      <% if @statement_items.any? %>
      <% @statement_items.each do |statement_item| %>
      <div class="event">
        <div class="label">
          <i class="info icon circular"></i>
        </div>
        <div class="content">
          <div class="summary">
            <%= link_to statement_item.title, statement_item %>
          </div>
          <div class="date">
            <%= time_ago_in_words(user_feed_item.created_at) + " ago" %>
          </div>
        </div>
      </div>
      <% end %>
      <% end %>
    </div>
  </div>
  <!-- User Feed -->
  <div class="row" style="margin-bottom: 10%;">
    <div class="ui feed">
      <h2>User Feed</h2>
      <% if @user_feed_items.any? %>
      <% @user_feed_items.each do |user_feed_item| %>
      <div class="event">
        <div class="label">
          <img src="<%= gravatar_url(user_feed_item.user) %>">
        </div>
        <div class="content">
          <div class="summary">
            A <%= link_to user_feed_item.post_type, user_feed_item %> was posted by <%= user_feed_item.user.name %>
          </div>
          <div class="date">
            <%= time_ago_in_words(user_feed_item.created_at) + " ago" %>
          </div>
        </div>
      </div>
      <% end %>
      <% end %>
    </div>
  </div>
</div>
</div>
