<% provide(:title, "Student-Section") %>
<div class="my-slider" style="height: 80vh;">
  <ul>
    <li><img id="slider-image" src="/assets/04.jpg"/></li>
    <li><img id="slider-image" src="/assets/05.jpg"/></li>
    <li><img id="slider-image" src="/assets/06.jpg"/></li>
  </ul>
</div>

<div class="ui relaxed two column grid stackable">
  <div class="twelve wide column">
    <div class="ui top attached tabular menu">
      <a class="active teal item" data-tab="happening">What's Happening</a>
      <a class="teal item" data-tab="programmes">Programmes</a>
      <a class="teal item" data-tab="admissions">Admissions</a>
      <a class="teal item" data-tab="fees">Fee Structure</a>
      <a class="teal item" data-tab="facilities">Facilities</a>
    </div>

    <div class="ui bottom attached active tab segment" data-tab="happening">
      <% if @user_feed_items.any? %>
      <div class="ui cards">
        <% @user_feed_items.each do |user_feed_item| %>
        <% if user_feed_item.user.user_type == "Student" && user_feed_item.approved? %>
        <div class="card">
          <% if !user_feed_item.articleimage.file.nil? %>
          <div class="image">
            <img src="<%= user_feed_item.articleimage.url %>">
          </div>
          <% end %>
          <div class="content">
            <a class="header" href="<%= article_path(user_feed_item) %>"><%=user_feed_item.title%></a>
            <div class="meta">A <%=user_feed_item.post_type %> by <%= user_feed_item.user.name %></div>
            <div class="description">
              <%= truncate(user_feed_item.content, length: 100) %>
            </div>
          </div>
        </div>
        <% end %>
        <% end %>
      </div>
      <% end %>
    </div>

    <div class="ui bottom attached tab segment" data-tab="programmes">
      <div class="ui raised link card " id="uibackground">
        <div class="content">
          <div class="ui grid">
            <div class="six wide column">
              <img id="department-image" src="/assets/branch_civil.jpg">
            </div>
            <div class="ten wide column">
              <div class="header" id="department-header">
                <b>Civil Engineering</b>
              </div>
              <div class="description">
                <div class="department-desc">
                  <p>
                    Considered as one of the core engineering disciplines.
                    Civil engineering branch deals with designing surveying constructing and maintaining structural works.
                    The engineers of this stream learn methods to identity, consume sustainably and natural resources.
                    It also includes the construction and supervision of things that public use in daily lives like buildings,
                    roads, water pipelines, bridges, dams etc. and provides a better opportunity in career perspectives.
                  </p>
                </div>
              </div>
              <div class="right floated item">
                <a class="ui teal button" href="<%= departments_civil_path %>"
                  style="margin-top: 50px;">Explore Civil Department
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ui raised link card " id="uibackground">
        <div class="content">
          <div class="ui grid">
            <div class="six wide column"><img id="department-image" src="/assets/branch_cse.jpg"></div>
            <div class="ten wide column">
              <div class="header"><b id="department-header">Computer Science and Engineering</b></div>
              <div class="description">
                <div class="department-desc">
                  <p>
                    Computer Science has the power to change the world. This course offer a flexible and facinating programmes for the
                    students who wish to acquire high skills in computers and applications, all supported by world class staff and facilities.
                    The curriculum provides the students with a technical perspective on major issues of computer application,
                    programming, languages and web enabled services.
                  </p>
                </div>
              </div>
              <div class="right floated item">
                <a class="ui violet button" href="<%= departments_cse_path %>"
                  style="margin-top: 50px;">Explore Computer Science Department
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ui raised link card " id="uibackground">
        <div class="content">
          <div class="ui grid">
            <div class="six wide column">
              <img id="department-image" src="/assets/branch_ee.jpg">
            </div>
            <div class="ten wide column">
              <div class="header">
                <b id="department-header">Electrical Engineering</b>
              </div>
              <div class="description">
                <div class="department-desc">
                  <p>
                    Its vision is to be a catalyst in imparting quality education and conducting valued research for the benefit of society.
                    Some of our important areas of teaching are basic electrical, electrical machine, power electronics,
                    measurement and instrumentation ,circuits and systems, electric drives and power system .
                    The vision of the department is to establish itself as a center of excellence in terms of research
                    and teaching in its chosen areas.
                  </p>
                </div>
              </div>
              <div class="right floated item">
                <a class="ui green button" href="<%= departments_ee_path %>"
                  style="margin-top: 50px;">Explore Electrical Department
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="ui raised link card " id="uibackground">
        <div class="content">
          <div class="ui grid">
            <div class="six wide column">
              <img id="department-image" src="/assets/branch_ece.jpg" >
            </div>
            <div class="ten wide column">
              <div class="header">
                <b id="department-header">Electronics and Communication Engineering</b>
              </div>
              <div class="description">
                <div class="department-desc">
                  <p>
                    In modern society, scope of electronics engineering is very vast that applied in every field.
                    Development of world that includes every area such as telecommunications, satellite,
                    microelectronics etc are the outcome of talented engineers. ECE is all about working with
                    electronic science and communication equipments such as mobiles, fridge, transmitters,
                    fulfilling the daily requirements of the people.
                  </p>
                </div>
              </div>
              <div class="right floated item">
                <a class="ui red button" href="<%= departments_ece_path %>"
                  style="margin-top: 50px;">Explore Electrical Department
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="ui raised link card" id="uibackground">
        <div class="content">
          <div class="ui grid">
            <div class="six wide column">
              <img id="department-image" src="/assets/branch_mech.jpg">
            </div>
            <div class="ten wide column">
              <div class="header">
                <b id="department-header">Mechanical Engineering</b>
              </div>
              <div class="description">
                <div class="department-desc">
                  <p>
                    Mechanical Engineering is considered to be the core branch in engineering.
                    You can work related to mechanical system design, analysis,
                    manufacturing maintenance using fundamental Physics principle and offers analytical
                    solution to problem using Mathematical model. The design of this course aims to provide
                    the basics and analytical skills which gives students valuable hands on industrial experiences.
                  </p>
                </div>
              </div>
              <div class="right floated item">
                <a class="ui blue button" href="<%= departments_mech_path %>"
                  style="margin-top: 50px;">Explore Mechanical Department
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="ui bottom attached tab segment" data-tab="admissions">
      Coming soon
    </div>

    <div class="ui bottom attached tab segment" data-tab="fees">
      <table class="ui celled table">
        <thead>
          <tr>
            <th>S.No.</th>
            <th>Programmes</th>
            <th>Fee Structure</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="ui ribbon label">1</td>
            <td>B.Tech in Civil Engineering</td>
            <td>
            </td>

          </tr>
          <tr>
            <td class="ui ribbon label">2</td>
            <td>B.Tech in Computer Science & Engineering</td>
            <td>

            </td>
          </tr>
          <tr>
            <td class="ui ribbon label">3</td>
            <td>B.Tech in Electrical Engineering</td>
            <td >Rs. 25000.00 per Semester Common for all branches (S.No. 1 to 5) Rs.2,00,000.00 for Eight Semester
            </td>
          </tr><tr>
            <td class="ui ribbon label">4</td>
            <td>B.Tech in Electronics & Communication Engineering</td>
            <td>

            </td>
          </tr><tr>
            <td class="ui ribbon label">5</td>
            <td>B.Tech in Mechanical Engineering</td>
            <td>

            </td>
          </tr><tr>
            <td class="ui ribbon label">6</td>
            <td>University Exam fees/Other fee (semester fee)</td>
            <td>S.No. 6-(A to F)
            </td>
          </tr><tr>
            <td class="ui ribbon label">A</td>
            <td>Enrollment Fee</td>
            <td>Rs. 1000.00 (only first year/lateral entry student one time)
            </td>
          </tr><tr>
            <td class="ui ribbon label">B</td>
            <td>Registration Fee</td>
            <td>Rs. 200.00 (only first year/lateral entry student one time)
            </td>
          </tr><tr>
            <td class="ui ribbon label">C</td>
            <td>Exam Fee</td>
            <td>Rs. 2000.00 (per semester) Rs. 16,000.00 for Eight Semester

            </td>
          </tr><tr>
            <td class="ui ribbon label">D</td>
            <td>Sport Fee</td>
            <td>Rs. 300.00 (per Annually) Rs. 1200.00 for Four Year
            </td>
          </tr><tr>
            <td class="ui ribbon label">E</td>
            <td>Development Fee</td>
            <td>Rs. 300.00 (per Annually) Rs. 1200.00 for Four Year
            </td>
          </tr><tr>
            <td class="ui ribbon label">F</td>
            <td>Student Welfare Fee</td>
            <td>Rs. 200.00 (per Annually) Rs. 800.00 for Four Year
            </td>
          </tr><tr>
            <td class="ui ribbon label">7</td>
            <td>Security</td>
            <td>Rs. 2500.00 One Time(Refundable)
            </td>
          </tr><tr>
            <td class="ui ribbon label">8</td>
            <td>Uniform Fee</td>
            <td>Rs. 4500.00
            </td>
          </tr>
        </tbody>

      </table>
      <p style="padding-top:20px;">
        <b>Note</b> : Fee will submit only
        through DD (Demand draft )in favour of <b>“Director, Institute of Technology, Gopeshwar ”</b> payable at <b>Gopeshwar</b>.
      </p>
      <p style="padding-top:10px;">
        Or students can deposit fee in <b>Director, Institute of Technology, Gopeshwar</b>, Account no. <b>32820100001011</b> at <b>Bank of Baroda, Gopeshwar (IFSC code: BARB0GOPESH).
        </b>
      </p>
      <p style="padding-top:10px;">
        B.tech Lateral Entry Fee Structure also same
      </p>
    </div>

    <div class="ui bottom attached tab segment" data-tab="facilities">
      <div class="ui top attached tabular menu">
        <a class="active green item" data-tab="institution-facilities">Institution Facilities</a>
        <a class=" green item" data-tab="student-life">Student Life</a>


      </div>
      <div class="ui bottom attached active tab segment" data-tab="institution-facilities">
        <div class="ui card" id="department-card">
          <div class="content">
            <div class="header">College Infrastructure</div>
            <div class="description">
              <p> The College Campus is spread over an extensive area with well-laid metaled roads, landscaped gardens, electricity
                with standby Genset, Telephones, and underground sewerage system, a running water supply system with own deep tube well,
                street light and a sports complex. The college provides hot solar water heater facility to all the hostellers.
                The spectrum of facilities includes: Library, gymnasium, 24x7 health care facility, hostels, canteens & auditorium.
              </p>

            </div>
          </div>

        </div>

        <div class="ui card" id="department-card">
          <div class="content">
            <div class="header">Internet and Wi-fi facility</div>
            <div class="description">
              <p> College is having a 4 Mbps Internet connection, locally networked and connected through wi-fi also to the central server are
                available for students for their project work and preparing seminar presentations.
                It also access to e-books, study materials, previous question papers daily circulars, etc.
                through the college Local Area Network.Internet facilities in the well-equipped internet lab,
                providing high speed of connectivity the student can surf the net together unlimited information.
              </p>
              <p>

                The students are divided into small groups of 15-20 and each group is provided with a tutor guide who takes their academic
                responsibilities and keeps in touch with their parents. The college has 4mbps internet connectivity which has been extended
                to all the laboratories, libraries using extensive networking .The college has also CCTV cameras to monitor the activities
                in the classroom, laboratories, hostel and other general area which facilitate college authorities to monitor the academic
                activities and have effective administrative control. The college has an effective anti-ragging cell to have cordial relation
                among the students. Also a women empowerment cell is active in the college which is under the direct supervision of the Director.
                Wi-fi facility in the Institution Campus is a milestone in the history of this institution as it puts the college on the road to
                paperless administration and functioning. With this addition the college will provide internet and intranet access to all students and staff for instructional purpose on par with colleges internationally.
                The class rooms are provided with wireless access points for the students to make use of internet and intranet.
              </p>

            </div>
          </div>

        </div>

        <div class="ui card" id="department-card">
          <div class="content">
            <div class="header">Library</div>
            <div class="description">
              <p> CITG have their own well established library which caters to the needs of students.
                The library of the colleges provide a neat, well stocked and peaceful corner for all those knowledge craving minds that
                venture to drown in the world of knowledge and information.
                Fully computerized automated library management system is available for the issue, search, and return of books.
                <h3>E-Library</h3>
              </p>
              <p>
                it’s a place where students can get access to the paid e-books and journals which are available to them free of cost.
                All the reading material of international level is made accessible to the students for better understanding on global issues.
                ITG have subscription of IEEE, J-Gate, IEL-online and various SCI journals for students.
              </p>

            </div>
          </div>

        </div>

        <div class="ui card" id="department-card">
          <div class="content">
            <div class="header">Power Supply</div>
            <div class="description">
              <p> The college has a 24 hour high tension power supply from UPCL. A separate power house,
                with four generators of 80 KVA capacities is
                commissioned to provide power supply to the entire campus in the event of power failure.
              </p>
            </div>
          </div>
        </div>

        <div class="ui card" id="department-card">
          <div class="content">
            <div class="header">Health Care</div>
            <div class="description">
              <p> IT provides medical facility to all its students.
                College provides periodical medical checkups with a team of doctors for the benefit of the students.
              </p>
              <p>
                The college has a well-equipped MI room .
                The college has an emergency vehicle for transportation of sick to nearby hospital 24x7 days.
              </p>
            </div>
          </div>
        </div>
        <div class="ui card" id="department-card">
          <div class="content">
            <div class="header">College Canteen</div>
            <div class="description">
              <p> College has spacious canteen facility in the college premises and is run by college management.
                A variety of indian food and snack items are provided to the students and staff of the college
                at highly subsidized rates with highest quality.Our college canteen is blessed with family atmosphere,
                with a variety of delicacies, touched by a home made flavour, cooked to perfection and served with a great courtesy.
                Refreshments are available at the college canteen at affordable rates. Adequate seating facilities are provided to accomodate
                students and staff even during peak time.
              </p>
              <p>
                Canteen has a big kitchen with steam cooking facility and kitchen staff take extra care
                to We provide our students with an excellent canteen, modern & hygienic. The dishes prepared here are delicious,
                and nutritious as well. Food items are prepared with RO treated water.As well as offering healthy food on a daily basis,
                the canteen runs a number of ‘special days’ and promotions during the year.
                Examples are: Easter lunch packs, early morning ‘Big Breakfasts’, BBQ’s and more.
                All of these are very popular and enjoyable treats for the students.
              </p>
            </div>
          </div>
        </div>

        <div class="ui card" id="department-card">
          <div class="content">
            <div class="header">Security</div>
            <div class="description">
              <p> Our round-the-clock security provides a safe learning environment bt protecting the students,
                staff and physical assets, while encouraging positive behaviour that foster academic excellence.
              </p>
              <h3>Services</h3>
              <p>
                Monitoring and controlling access to campus facilities providing surveillance of private records,
                materials and valuable equipment. tracking truancy and inappropriate student behaviour video surveillance and access
                control for cost-effective campus-wide protection,
                managing parking permit and vehicle identification.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="ui bottom attached tab segment" data-tab="student-life">
        <div class="ui card" id="department-card">
          <div class="content">
            <div class="header">Sports Facility</div>
            <div class="description">
              <p> OSports participation is a vital aspect for all ages and a powerful medium of interaction with other institutions.
                College has play courts for several games like Badminton, Cricket, Volleyball, Shuttle, Tennicoit etc.,
                for both men and women. The College has conducted many sports events inside the campus and many of our students have
                participated in Zonal and State level competitions and won several prizes in various sports events.
                Inter Departmental Sports Activities are also conducted and several Students have won prizes for their respective departments.
              </p>
              <p>
                The College has very good and modern playground with sophisticated playing equipments for the benefit of the students.
                The college conducts sports meet regularly and awards prizes for the winners.
                The college has exclusive sports personnel for the benefit of the students to train them in various sports activities
              </p>
            </div>
          </div>

        </div>
        <div class="ui card" id="department-card">
          <div class="content">
            <div class="header">Hostel Faculty</div>
            <div class="description">
              <p> Institute of Technology, Gopeshwar established in 2013 has currently four hostels for boys and girls in
                PPP mode at chamoli. Based on the principle of "Homes away from home", hostels available in the campus
                provide all the basic facilities to the students with proper care and tender of the administrative and
                supporting staff. Institute has residential facilities for more than 200 hundred students in the hostel.
                Institute has three boys and one girls hostels, having rooms available on sharing basis (two/three seater)
                accommodating maximum institute students in comfortable and conducive manner
              </p>

              <p>
                Each hostel has been equipped with water purifiers, water coolers,
                Geyser for hot water and telephone etc. All hostels are fully connected with emergency/continuous power
                supply through DG set. Each hostel has installed sufficient security cameras for necessary security check and surveillance.
                A centralised mess facility is provided to the students residing in the campus. Every boarder is provided with a chair,
                a table, a cot and a locker.
                The hostels are close to the academic area and playing grounds.
              </p>
            </div>
          </div>

        </div>

        <div class="ui card" id="department-card">
          <div class="content">
            <div class="header">Students Extra Activity</div>
            <div class="description">
              <p> While cementing the sense of academic excellence, the college gives rich opportunities
                to the students to gain Communication Skills, Personality Development, Emotional Quotient and
                Intelligence Quotient, Organizational skills and Leadership qualities through co-curricular and extra-curricular activities.
                To hearten the skills and to embellish the study, students participate in various skill- rendering events of paper presentation,
                Technical quiz, Debugging, Network game, ad zap, Dumact which are conducted by various colleges.

              </p>
              <h3>Co- Curricular Activities</h3>

              <p>
                Sports and extracurricular activities are encouraged, to promote a balanced lifestyle and to build team spirit,
                managerial skills , enable students to find outlets to beat stress in the highly competitive environment
                that they have to face in the world today. These activities are taken care by the activity centre which encourages,
                guides the students to participate in sports, paper presentations, project contests, NSS, NCC various other programmes.
                Every year Fresher’s party/ farewell & Annual day celebrations are regularly organized to dig their hidden talents. Students participate in many activities and make the occassions more vibrant withEach department plays a crucial role in encouraging the students to attend technical paper presentations,
                Symposia, seminars, quizzes, etc.
              </p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="four wide column">
    <!-- News Feed -->
    <div class="row" style="margin-bottom: 10%;">
      <div class="ui feed">
        <h2>News</h2>
        <% if @news_items.any? %>
        <% @news_items.each do |news_item| %>
        <% if news_item.approved? %>
        <div class="event">
          <div class="label">
            <i class="info icon circular"></i>
          </div>
          <div class="content">
            <div class="summary">
              <%= link_to news_item.title, news_item %>
            </div>
            <div class="date">
              <%= time_ago_in_words(news_item.created_at) + " ago" %>
            </div>
          </div>
        </div>
        <% end %>
        <% end %>
        <% end %>
      </div>
    </div>
    <!-- Annoucements Feed -->
    <div class="row">
      <div class="ui feed" style="margin-bottom: 10%;">
        <h2>Announcements</h2>
        <% if @statement_items.any? %>
        <% @statement_items.each do |statement_item| %>
        <% if statement_item.approved? %>
        <div class="event">
          <div class="label">
            <i class="info icon circular"></i>
          </div>
          <div class="content">
            <div class="summary">
              <%= link_to statement_item.title, statement_item %>
            </div>
            <div class="date">
              <%= time_ago_in_words(user_feed_item.created_at) + " ago" %>
            </div>
          </div>
        </div>
        <% end %>
        <% end %>
        <% end %>
      </div>
    </div>
    <!-- User Feed -->
    <div class="row" style="margin-bottom: 10%;">
      <div class="ui feed">
        <h2>User Feed</h2>
        <% if @user_feed_items.any? %>
        <% @user_feed_items.each do |user_feed_item| %>
        <% if user_feed_item.approved? %>
        <div class="event">
          <div class="label">
            <img src="<%= gravatar_url(user_feed_item.user) %>">
          </div>
          <div class="content">
            <div class="summary">
              A <%= link_to user_feed_item.post_type, user_feed_item %> was posted by <%= user_feed_item.user.name %>
            </div>
            <div class="date">
              <%= time_ago_in_words(user_feed_item.created_at) + " ago" %>
            </div>
          </div>
        </div>
        <% end %>
        <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
